
.search__form {
    width: 40%;

    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    align-self: center;
    
   
}

.search__form__input {
    width: 100%;
    height: 35px;
    /* border-radius: 30px; */
    outline: none;
    padding-left: 25px;
    font-size: .9rem;
    border-color: #ffe26e;
    border-style: solid;
    border-radius: 20px;
}

.search__form__button {
    position: absolute;
    height: 35px;
    width: 50px;
    background-color: #ffe26e;
    color: rgb(0, 0, 0);
    right: 0px;
    font-weight: bold;
    border-color: #FFE26E;
    border-style: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search__icon {
    height: 50%;
    width: auto;
}

input[type="text"]:placeholder-shown{
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    input[type="text"]:placeholder-shown{
    text-align: start;
    padding: 15px;
}
    .search__form {
        width: 300px;
    }
}


