/* Control container */
.control__bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icons flex container */
.controls__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Button-like control wrapper */
.control {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ffe26e;
    border-radius: 10px;
    cursor: pointer;
    margin: 3px;
}

.control:hover {
    background-color: #ffe26e;
    color: black;
}
