.navbrand__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 2rem;
}

.navbrand {
     font-size: 30px;
    font-weight: bolder; 
    height: auto;
    width: 50%;
    min-width: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-right: 35%  ;
    font-family: 'Cinzel', serif;
}


@media screen and (max-width: 600px) {
    .navbrand__container  {
        align-self: center;
    }
    .navbrand {
        font-size: 20px;
        width: 100%;
        padding-right: 0;
    }
}