.nav__top__container {
    background-color: #ffe26e; /* muted green */
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px; 
    padding-bottom: 30px;   
}

.top__container {
    background-color: #ffffff; /* soft neutral background */
    width: 100%;
    max-width: 2000px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-radius: 9999px;
    box-shadow: 10px 5px 12px rgba(0, 0, 0, 0.1);

}

/* Center form */
.form__container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    
}

/* Right controls */
.control__bar {
    display: flex;
    align-items: center;
    z-index: 1000;
}

/* Mobile drawer */
.drawer {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .form__container {
        display: none;
    }

    .control__bar {
        display: none;
    }

    .drawer {
        display: flex;
    }

    .top__container {
        height: auto;
        padding: 12px 20px;
    }
}
